@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-open {
    animation: slide-in 0.3s ease-in-out;
  }

.image-bg{
    height: 230px;
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

